body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }

  .head{
    display: flex;
    justify-items: center;
    gap: 70%;
    border: none;
    background-color: white;
    box-shadow: black;
    height: 45px;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 1em;
    text-align: center;
  }
  
  #search-input {
    width: 50%;
    padding: 0.5em;
    font-size: 1.2em;
    border: 1px solid #ccc;
    

  }
  
  #region-select {
    padding: 0.5em;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
  }
  
  #countries-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    padding: 1em;
  }
  
  .country-card {
    background-color: #fff;
    border: 1px solid #ddd;
    
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .country-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 0.5em 0.5em 0 0;
  }
  
  .country-card h2 {
    font-weight: bold;
    margin-top: 0;
  }
  
  @media (max-width: 768px) {
    #search-input {
      width: 80%;
    }
    #countries-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    #search-input {
      width: 100%;
    }
    #countries-container {
      grid-template-columns: 1fr;
    }
    .country-card {
      margin-bottom: 1em;
    }
  }